@media(max-width: 650px){
  html{
    font-size: 2.7vw;
  }

  .article-post {
    font-size: 18px;
  }
}

@media(max-width: 480px){
  html{
    font-size: 2.7vw;
  }

  .article-post {
    font-size: 15px;
  }
}

header{
  display: grid;
  grid-template-columns: 5.625rem auto 3.125rem;
  grid-template-rows: 5.625rem;
}

header span{
  display: block;
  margin-top: 0.125rem;
}

section{
  display: grid;
  grid-template-columns: 14rem auto;
  grid-template-rows: 3.125rem;
}

input.checkbox{
  position: fixed;
  left: -999px;
}

label{
  cursor: pointer;
}

em{
  font-style: normal;
  color: red;
}

figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

div.img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

ul.slider {
  white-space: nowrap;
  margin: 0;
  padding: 0;

  position: absolute;
  max-width: 100%;

  list-style: none;
  padding-left: 0px;

  left: 0%;

  -webkit-transition: left 0.25s;
  -o-transition: left 0.25s;
  transition: left 0.25s;
}

li.item, .blue-dot {
  display: inline;
  margin-right: -2px;
  padding: 0;
}

.blue-dot img {
  max-width: 0.5rem;
  margin-right: 1rem;
}

ul.blue-dot {
  float: right;
  margin-right: 18rem;
  white-space: nowrap;
}

div.button-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.prev-button {
  z-index: 999;
  position: relative;
  margin: 48% 2%;
  width: 4%;
  opacity: 0.5;
}

.next-button {
  float: right;
  z-index: 999;
  position: relative;
  margin: 48% 2%;
  width: 4%;
  opacity: 0.5;
}



.boldic{
  font-weight: bold;
}

.big{
  font-size: 1.375rem;
}

.small{
  font-size: 1.125rem;
}

.likes{
  grid-template-columns: 9.5rem auto;
  grid-template-rows: 2.3rem;
  overflow: visible;
  white-space: nowrap;
}

.likes div{
  vertical-align: middle;
}

.likes img{
  border-radius: 100%;
  margin-left: 0.85rem;
  max-height: 2rem;
}

.likes #below{
  position: relative;
  right: 2rem;
  z-index: -1;
}

.likes #belowtwo{
  position: relative;
  right: 4.1rem;
  z-index: -2;
}

.likes span{
  position: relative;
  right: 3.5rem;
  display: block;
  margin-top: 0.15rem;
}

.description{
  margin: 0 1rem 0 0.9rem;
  display: block;
  word-break: break-word;
}

.description span{
  color: grey;
}

.description div{
  margin-top: 0.3rem;
}

.comment{
  border-top: 1px solid #d3d3d3;
  margin: 0.8rem 1rem auto 1.2rem;
  grid-template-columns: 4.2rem auto;
  grid-template-rows: auto;
  padding-top: 0.85rem;
  word-break: break-word;
}

.comment img{
  border-radius: 100%;
  border: 0.2rem solid #f4f4f4;
  max-height: 3.8rem;
}

.comment span{
  color: grey;
}

.comment a{
  text-decoration: none;
  color: #212529;
}

#profile_pic img{
  margin: 0.4375rem 0 0 0.3125rem;
  max-width: 4.6875rem;
  padding: 0.625rem;
  border-radius: 100%;
}

#profile_name p{
  margin-top: 1.4375rem;
  line-height: 1.5rem;
}

#dotdotdot img{
  max-width: 1.875rem;
  margin: 2rem 0 0 0.1875rem;
}

#dotdotdot img:hover{
  cursor: pointer;
}

#dotBtn:checked ~ label > img{
  transform: rotate(18000deg);
  transition-duration: 6s;
}

#heart_icon{
  padding-left: 0.625rem;
  margin-bottom: 1rem;
}

#heart_icon img{
  max-height: 2rem;
  margin: 0 0.3125rem;
}

#heart_icon img:hover{
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 red);
  filter: opacity(0.5) drop-shadow(0 0 0 red);
  transition-duration: 0.17s;
}

#heartBtn:checked ~ label > img{
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 red);
  filter: opacity(0.5) drop-shadow(0 0 0 red);
}

/* Animation */

header {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */

    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0;
}

figure {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */

    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

section {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
    /* Opera */

    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
        margin-top: 5rem;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
        margin-top: 5rem;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
        margin-top: 5rem;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
        margin-top: 5rem;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}
