/* * {
  border: 1px solid red;
} */

header{
  display: grid;
  grid-template-columns: 90px auto 50px;
  grid-template-rows: 90px;
  text-align: middle;
}

header span{
  display: block;
  margin-top: 8px;
}

#profile_pic img{
  margin: 5px 0 0 0;
  max-width: 80px;
  padding: 10px;
  border-radius: 100%;
}

#profile_name p{
  margin-top: 22px;
  line-height: 120%;
}

#dotdotdot img{
  /* display: block; */
  max-width: 30px;
  margin: 32px 0 0 20px;
}
